body {
    margin: 0;
    font-family: 'Open Sans', serif;
}

.str-chat-channel {
    height: 650px !important;
    background-color: #f5f5f5 !important;
    border-radius: 20px;
}

.str-chat-channel-list {
    height: auto !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.str-chat__channel-list-messenger {
    background-color: #f5f5f5 !important;
    border-top-left-radius: 20px;
}

.str-chat__list {
    border-radius: 20px;
    margin-bottom: -20px;
}

.str-chat__main-panel {
    padding-right: 14px !important;
}